{% spaceless %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class=" navbar-inner">
        <div class="container">
            <ul class="nav">
                <li><a tabindex="-1" href={{path('sifda_ordentrabajo')}}>Gestionar de Ordenes de Trabajo</a></li>
                <li><a tabindex="-1" href={{path('cargar_solicitudes_pao', { 'depest': 1 })}}>Cargar Solicitudes y Ordenes</a></li>
             </ul>    
        </div>     
    </div>
</div>
{% endspaceless %}
