{% extends 'MinsalsifdaBundle::layoutAdministrador.html.twig' %}
{% block contenido_in %}
    
    
{% block encabezado %}
    Fecha del sistema: {{ "now"|date("d/m/Y") }}<center><h3>Bienvenido</h3></center>
{% endblock %}

{% endblock %}
{% block javascripts_step %}
   
{% endblock %} 

